@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;1,700&display=swap");
* {
  text-decoration: none !important;
  list-style: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Mulish", sans-serif;
}

.logo {
  text-align: right; /* Untuk memastikan teks di sebelah kiri gambar */
}

.logo div{
  text-align: left;
}

.logo img, .logo div {
  display: inline-block;
  vertical-align: middle; /* Untuk mengatur vertikal alignment elemen */
}

.navbar-brand .hydro{
  font-size: 1.5rem;
  color:black;
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
}

.navbar-brand .scape{
  font-size: 1.5rem;
  color:#87c053;
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
}

.sub-logo{
  font-size: 1rem;
  letter-spacing: 2px;
}


.search{
  height: 40px;
  width: 400px;
  border-radius: 60px;
  outline: none;
  margin-right: -90px;
  border: 2px solid #4E7302;
  background-color: #F9F9F9;
}

.btn0{
  height: 34px;
  width: 30%;
  margin-top: 3px;
  outline: none;
  border: none;
  background: #4E7302;
  color: white;
  border-radius: 60px;
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.d-flex span i {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
  height: 40px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
  line-height: 40px; /* Untuk mengatur ikon ke tengah vertikal */
  border-radius: 50%; /* Membuat latar belakang bulat */
  background-color: #4E7302; /* Ganti dengan warna latar belakang yang Anda inginkan */
  margin-right: 10px; /* Untuk memberikan jarak antara ikon */
  color: white; /* Ganti dengan warna teks yang sesuai */
  cursor: pointer;
}

.d-flex span i:hover {
  background-color: #f1f1f1;
  color:black;
}

.centered-navbar-collapse {
  display: flex;
  justify-content: center; /* Mengatur konten horizontal ke tengah */
  align-items: center; /* Mengatur konten vertikal ke tengah */
}

.judul-video h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-video-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 55vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(36 39 37 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn {
  width: 90px;
  height: 90px;
  background: #f3f3f5;
  box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  padding-left: 4px;
  padding-top: 4px;
  font-size: 40px;
}

.play-btn:hover {
  box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.play-btn-wp {
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn-wp span {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4E7302;
}

