* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
  }
  
  .logo {
    text-align: right; /* Untuk memastikan teks di sebelah kiri gambar */
  }
  
  .logo div{
    text-align: left;
  }
  
  .logo img, .logo div {
    display: inline-block;
    vertical-align: middle; /* Untuk mengatur vertikal alignment elemen */
  }
  
  .navbar-brand .hydro{
    font-size: 1.5rem;
    color:black;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  .navbar-brand .scape{
    font-size: 1.5rem;
    color:#87c053;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  .sub-logo{
    font-size: 1rem;
    letter-spacing: 2px;
  }
  
  
  .search{
    height: 40px;
    width: 400px;
    border-radius: 60px;
    outline: none;
    margin-right: -85px;
    border: 2px solid #4E7302;
    background-color: #F9F9F9;
  }
  
  .btn0{
    height: 34px;
    width: 30%;
    margin-top: 3px;
    outline: none;
    border: none;
    background: #4E7302;
    color: white;
    border-radius: 60px;
    font-weight: 600;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-flex span i {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: 40px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    line-height: 40px; /* Untuk mengatur ikon ke tengah vertikal */
    border-radius: 50%; /* Membuat latar belakang bulat */
    background-color: #4E7302; /* Ganti dengan warna latar belakang yang Anda inginkan */
    margin-right: 10px; /* Untuk memberikan jarak antara ikon */
    color: white; /* Ganti dengan warna teks yang sesuai */
    cursor: pointer;
  }
  
  .d-flex span i:hover {
    background-color: #f1f1f1;
    color:black;
  }
  
  .centered-navbar-collapse {
    display: flex;
    justify-content: center; /* Mengatur konten horizontal ke tengah */
    align-items: center; /* Mengatur konten vertikal ke tengah */
  }

  .btn-custom {
	padding: 10px 15px;
	font-weight: 600;
	background-color: #A72122;
	color: #f5f5f5;
	border-radius: 10px;
    border: none;
  }
  
.btn-custom:hover {
	background-color: #f5f5f5;
	color: #A72122;
  }